<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body >  
  <div id="maincontent">
      {{>header}}
      <form action="">
   <input type="text" id="mytext" placeholder="Movie Name" > <br> 
   <button  type="button" id="btn">Search</button>
      </form>
  
  <div id="details">
   <div id="name_n_rating">
    <div id="movie_name"></div>
    <div id="movie_year"></div>
    </div>
    <div id="other">
    <p id="rating"></p>
    <p id="discription"></p><br><br>
    <p id="cast"></p> 
    <p id="director"></p> 
    <p id="genre"></p> 
      </div>
      </div>
     <div id="footer">
      {{>footer}}
  </div>
  </div>
  <script src="/js/app.js"></script>
</body>
</html>