<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="icon" style="margin-left: 80%;">
<i class="fa fa-gbp" style="font-size: 26px;"></i>
<i class="fa fa-magnet"style="font-size: 26px;"></i>
<i class="fa fa-copyright"style="font-size: 26px;"></i>
<i class="fa fa-vk"style="font-size: 26px;"></i>
<i class="fa fa-jpy"style="font-size: 6px;"></i>
<i class="fa fa-yahoo"style="font-size: 26px;"></i>
</div>
</body>
</html>